
@{
    ViewData["Title"] = "ResetPassword";
}

@section links {
    <a asp-area="" asp-controller="Home" asp-action="RecuperarPassword" class="btn btn-link btn-xs pull-right">Recuperar Password</a>
    <a asp-area="" asp-controller="Home" asp-action="Register" class="btn btn-link btn-xs pull-right">Registar</a>
    <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-link btn-xs pull-right">Login</a>
}
@section Home {
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
}
@section ProgramasMobilidade{
    <a asp-area="" asp-controller="Home" asp-action="ProgramasMobilidade">Programas Mobilidade</a>
}
@section Bolsas{
    <a asp-area="" asp-controller="Home" asp-action="Bolsas">Bolsas</a>
}
@section SobreNos{
    <a asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre Nós</a>
}
<div class="jumbotron">
    <h2 class=" text-center"><strong>Reset Password Email</strong></h2>
    <p><strong>Foi enviado um email com o com o link, verifique a sua caixa de correio para efectuar o reset de password. </strong></p>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-link btn-xs text-center">Voltar Pagina Inicial</a>
</div>


