
@{
    ViewData["Title"] = "ResetPassword";
}

@section links {
    <a asp-area="" asp-controller="Home" asp-action="RecuperarPassword" class="btn btn-link btn-xs pull-right">Recuperar Password</a>
    <a asp-area="" asp-controller="Home" asp-action="Register" class="btn btn-link btn-xs pull-right">Registar</a>
    <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-link btn-xs pull-right">Login</a>
}
<div class="jumbotron">
    <h2 class=" text-center"><strong>Reset Password</strong></h2>
    <p><strong>Verifique a sua caixa de correio para efectuar o reset de password. </strong></p>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-link btn-xs text-center">Voltar Pagina Inicial</a>
</div>


