@section links {
    <a asp-area="" asp-controller="Home" asp-action="RecuperarPassword" class="btn btn-link btn-xs pull-right">Recuperar Password</a>
    <a asp-area="" asp-controller="Home" asp-action="Register" class="btn btn-link btn-xs pull-right">Registar</a>
    <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-link btn-xs pull-right">Login</a>
}
@section Home {
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
}
@section ProgramasMobilidade{
    <a asp-area="" asp-controller="Home" asp-action="ProgramasMobilidade">Programas Mobilidade</a>
}
@section Bolsas{
    <a asp-area="" asp-controller="Home" asp-action="Bolsas">Bolsas</a>
}
@section SobreNos{
    <a asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre Nós</a>
}
<!--Home-->
<h1 class="text-center">Programas Mobilidade</h1>

<div class="jumbotron col-sm-5">
    <h3 class="text-center">Erasmus+</h3>
    <p class="text-center">Resto Informacao</p>
</div>
<div class="jumbotron col-sm-5 col-sm-offset-1">
    <h3 class="text-center">Programa Santander</h3>
    <p class="text-center"> Resto Informacao</p>
</div>