@model ProjectoEsw.Models.ViewModels.RecuperarPassViewModel
@{
    ViewData["Title"] = "Recuperar Password";
}

@section links {
    <a asp-area="" asp-controller="Home" asp-action="RecuperarPassword" class="btn btn-link btn-xs pull-right">Recuperar Password</a>
    <a asp-area="" asp-controller="Home" asp-action="Register" class="btn btn-link btn-xs pull-right">Registar</a>
    <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-link btn-xs pull-right">Login</a>
}


<div class="jumbotron col-sm-10 col-sm-offset-1">
    <div class="container col-lg-offset-2 col-sm-8">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <form class="form-horizontal" asp-controller="Home" asp-action="RecuperarPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class=" help-block"></div>
                <input asp-for="Email" placeholder="Email" class="form-control" class="form-control" data-toggle="popover" data-trigger="hover" data-content="Para recuperar password precisa de inserir o email com que se registou para poder alterar a sua password" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-default">Recuperar</button>
                </div>
            </div>
        </form>
    </div>
</div>