

@section links {
    <a asp-area="" asp-controller="Home" asp-action="RecuperarPassword" class="btn btn-link btn-xs pull-right">Recuperar Password</a>
    <a asp-area="" asp-controller="Home" asp-action="Register" class="btn btn-link btn-xs pull-right">Registar</a>
    <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-link btn-xs pull-right">Login</a>
}
@section Home{
    <a asp-area="" asp-controller="Candidato" asp-action="Index">Home</a>

}
@section ProgramasMobilidade{
    <a asp-area="" asp-controller="Home" asp-action="ProgramasMobilidade">Programas Mobilidade</a>
}
@section Bolsas{
    <a asp-area="" asp-controller="Home" asp-action="Bolsas">Bolsas</a>
}
@section SobreNos{
    <a asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre Nós</a>
}
<!--Home-->
    <div class="jumbotron col-sm-12">
        <div class="col-sm-12" id="divErasmus">
            <h3 class="text-center">Sobre Nós</h3>
            <div class="help-block"></div>
            <p><font size="2">  Esta  <strong>WebApp</strong> foi criada para o <strong>CIMOB</strong>, como projecto escolar e para promover e ajudar no processo de candidatura para os programas mobilidade que o <strong>Instituito Politecnico de Setubal</strong> tem para oferecer</font></p>
            <p><font size="2">  Foi desenvolvida por um grupo de quatro elementro que procedeu a implementação da mesma.</font></p>
            <p><font size="2">  Estes elementos sao todos alunos de Engenheiria Informatica no IPS/EST, que estao a frequentar as cadeiras de Engenheiria de Software e Programação Visual para o qual este projecto foi desenvolvido</font></p>
            <p><font size="2">  Os grupo é consistido portanto: </font></p>
            <p><font size="2">  - <strong>Ricardo Monteiro</strong> - Project Manager</font></p>
            <p><font size="2">  - <strong>Lidorio Vinagreiro</strong> - Developer </font></p>
            <p><font size="2">  - <strong>Fernando Azevedo</strong> - Developer </font></p>
            <p><font size="2">  - <strong>Diogo Marques</strong> - Developer </font></p>
        </div>
    </div>
