@model ProjectoEsw.Models.ViewModels.RecuperarPassViewModel
@{
    ViewData["Title"] = "RecuperarPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron col-sm-10 col-sm-offset-1">
    <div class="container col-lg-offset-2 col-sm-8">
        <h2 class="text-center">Recuperar Password</h2>
        <form class="form-horizontal" asp-controller="UtilizadorRegistado" asp-action="RecuperarPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class=" help-block"></div>
                <input asp-for="Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class=" help-block"></div>
                <input asp-for="Nif" placeholder="Numero de Identificação Fiscal" class="form-control" />
                <span asp-validation-for="Nif" class="text-danger"></span>
                <div class=" help-block"></div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-default">Recuperar</button>
                </div>
            </div>
        </form>
    </div>
</div>