@mo@model ProjectoEsw.Models.Identity.Perfil;

@section links {
    <a asp-area="" asp-controller="Candidato" asp-action="Logout" class="btn btn-link btn-xs pull-right">Log Out</a>
    <a asp-area="" asp-controller="Candidato" asp-action="Perfil" class="btn btn-link btn-xs pull-right"> @Html.DisplayFor(Model => Model.Email) </a>

}
@section Home{
    <a asp-area="" asp-controller="Candidato" asp-action="Index">Home</a>

}
@section ProgramasMobilidade{
    <a asp-area="" asp-controller="Candidato" asp-action="ProgramasMobilidade">Programas Mobilidade</a>
}
@section Bolsas{
    <a asp-area="" asp-controller="Candidato" asp-action="Bolsas">Bolsas</a>
}
@section SobreNos{
    <a asp-area="" asp-controller="Candidato" asp-action="SobreNos">Sobre Nós</a>
}
<!--Home-->
<div class="jumbotron col-sm-5">
    <h1>Erasmus+</h1>
    <p> Resto Informacao + links + prazos</p>
    <button type="submit" class="btn btn-default center-block">Candidatar-me</button>
</div>
<div class="jumbotron col-sm-5 col-sm-offset-1">
    <h1>Programa Santander</h1>
    <p> Resto Informacao + links + prazos</p>
    <button type="submit" class="btn btn-default center-block">Candidatar-me</button>
</div>