@section links {
    <a asp-area="" asp-controller="Candidato" asp-action="Logout" class="btn btn-link btn-xs pull-right">Log Out</a>
}

@section Home{
    <a asp-area="" asp-controller="Candidato" asp-action="Index">Home</a>
}

@section ProgramasMobilidade{
    <a asp-area="" asp-controller="Candidato" asp-action="ProgramasMobilidade">Programas Mobilidade</a>
}

@section Bolsas{
    <a asp-area="" asp-controller="Candidato" asp-action="Bolsas">Bolsas</a>
}

@section SobreNos{
    <a asp-area="" asp-controller="Candidato" asp-action="SobreNos">Sobre Nós</a>
}

<!--Home-->
<div class="jumbotron col-sm-8">
    <h2 class="text-center">Estatisticas</h2>
</div>

<div class="jumbotron col-sm-3 col-sm-offset-1">
    <h5 class="text-center">Opcoes</h5>
    <a asp-area="" asp-controller="Candidato" asp-action="VisualizarCandidatura" class="btn btn-link btn-xs pull-right col-sm-12">Ver Candidatura</a>
    <a asp-area="" asp-controller="Candidato" asp-action="Perfil" class="btn btn-link btn-xs pull-right col-sm-12">Ver Perfil</a>
    <a asp-area="" asp-controller="Candidato" asp-action="EditarPerfil" class="btn btn-link btn-xs center-block col-sm-12">Editar Perfil</a>
</div>

<div class="col-sm-8">
    <div class="text-center">
        <a class="btn btn-default">Instituicoes</a>
        <a class="btn btn-default">Destinos</a>
        <a class="btn btn-default">Candidaturas</a>
        <a class="btn btn-default">Tipo Candidatura</a>
        <a class="btn btn-default">Bolsas</a>
    </div>
    <div id="instituicoesChart"></div>
    <div id="tipoChart"></div>
    <div>

    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("instituicoesChart", {
            theme: "theme2",
            animationEnabled: true,
            title: {
                text: "Estatisticas Instituicoes"
            },
            subtitles: [{ text: "Numero de alunos por insituicoes" }],
            data: [
                {
                    type: "column", //change type to bar, line, area, pie, etc
                    dataPoints: @Html.Raw(ViewBag.dataPointsIns)
                            }
                ]
            });
             var chart1 = new CanvasJS.Chart("tipoChart", {
                theme: "theme2",
                animationEnabled: true,
                title: {
                    text: "Estatisticas Tipo Mobilidade"
                },
                subtitles: [{ text: "Numero de alunos por tipo de mobilidade" }],
                data: [
                    {
                        type: "column", //change type to bar, line, area, pie, etc
                        dataPoints: @Html.Raw(ViewBag.dataPointsTipo)
                            }
                ]
            });
            chart.render();
            chart1.render();
    };
</script>


