@model ProjectoEsw.Models.Identity.Perfil;

@section links {
    <a asp-area="" asp-controller="Tecnico" asp-action="Logout" class="btn btn-link btn-xs pull-right">Log Out</a>
    <a asp-area="" asp-controller="Tecnico" asp-action="Perfil" class="btn btn-link btn-xs pull-right"> @Html.DisplayFor(Model => Model.Email) </a>

}
@section Home{
    <a asp-area="" asp-controller="Tecnico" asp-action="Index">Home</a>

}
@section ProgramasMobilidade{
    <a asp-area="" asp-controller="Tecnico" asp-action="ProgramasMobilidade">Programas Mobilidade</a>
}
@section Bolsas{
    <a asp-area="" asp-controller="Tecnico" asp-action="Bolsas">Bolsas</a>
}
@section SobreNos{
    <a asp-area="" asp-controller="Tecnico" asp-action="SobreNos">Sobre Nós</a>
}

<div class="jumbotron col-sm-8">
    <h3 class="text-center">Bolsas</h3>
    <p class="text-center"> Resto Informacao + links + prazos</p>
    
    <script type="text/javascript">

    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "theme2",
            animationEnabled: true,
            title: {
                text: "Simple Column Chart in ASP.NET MVC"
            },
            subtitles: [
                { text: "Try Resizing the Browser" }
            ],
            data: [
                {
                    type: "pie", //change type to bar, line, area, pie, etc
                    dataPoints: [
                        { label: "algo", y: 71 },
                        { label: "sim", y: 55 },
                    ]
                }
            ]
        });
        chart.render();
    };
    </script>
    <div id="chartContainer"></div>

</div>

<div class="jumbotron col-sm-3 col-sm-offset-1">
    <h5 class="text-center">Opcoes</h5>
    <!--<a asp-area="" asp-controller="Tecnico" asp-action="Perfil" class="btn btn-link btn-xs pull-right col-sm-12">Ver Perfil</a>
    <a asp-area="" asp-controller="Tecnico" asp-action="Perfil" class="btn btn-link btn-xs center-block col-sm-12">Editar Perfil</a>-->
    <a asp-area="" asp-controller="Tecnico" asp-action="ListaCandidaturas" class="btn btn-link btn-xs pull-right col-sm-12">Lista Candidaturas</a>
    <a asp-area="" asp-controller="Tecnico" asp-action="MarcarEntrevista" class="btn btn-link btn-xs pull-right col-sm-12">Marcar Entrevistas</a>
</div>