@model ProjectoEsw.Models.Candidatura_sprint2.ViewModels.MarcarEntrevistaViewModel;

@section links {
    <a asp-area="" asp-controller="Tecnico" asp-action="Logout" class="btn btn-link btn-xs pull-right">Log Out</a>

}
@section Home{
    <a asp-area="" asp-controller="Tecnico" asp-action="Index">Home</a>

}
@section ProgramasMobilidade{
    <a asp-area="" asp-controller="Tecnico" asp-action="ProgramasMobilidade">Programas Mobilidade</a>
}
@section Bolsas{
    <a asp-area="" asp-controller="Tecnico" asp-action="Bolsas">Bolsas</a>
}
@section SobreNos{
    <a asp-area="" asp-controller="Tecnico" asp-action="SobreNos">Sobre Nós</a>
}


<form class="form-horizontal" asp-controller="Tecnico" asp-action="MarcarEntrevista" method="post">
    <div class="jumbotron col-sm-8">
        <h2 class=" text-center">Lista De Candidaturas</h2>
        @if (Model.Candidatos.Any() == false)
        {
            <h4 class="center-block text-center">Sem Candidatos Aprovados</h4>
            <a asp-area="" asp-controller="Tecnico" asp-action="ListaCandidaturas" class="btn btn-link btn center-block text-center">Pagina inicial</a>
        }
        else
        {

            <h3 class="text-center center-block"style="padding-bottom:5px;">Candidaturas</h3>
            <div class="checkbox checkboxList col-sm-12 center-block text-center" style="padding-bottom:10px">            
                @for (int i = 0; i < Model.Candidatos.Count; i++)
                {
                    var checkbox1 = "checkbox" + i;
                    <div>
                        <input value="@Model.Candidatos[i].Id" name="lista" type="checkbox" />
                        <label>@Model.Candidatos[i].Perfil.NomeCompleto</label>
                        <label>@Model.Candidatos[i].Perfil.NumeroIdentificacao</label>
                        <input asp-for="@Model.Candidatos[i].Id" type="hidden" />
                    </div>
                }           
            </div>
        <div class="help-block"></div>
        <div class="center-block text-center" style="padding-top:10px">
            <div class=" form-inline center-block">
                <div style="padding-top:10px">
                    <label class="control-label">Data Inicio: </label>
                </div>
                <div>
                    <input asp-for="DataEntrevistaInicio" placeholder="Data inicio da entrevista" class="form-control" style="padding-top:10px" />
                    <span asp-validation-for="DataEntrevistaInicio" class="text-danger"></span>
                </div>
            </div>
            <div class=" form-inline center-block">
                <div style="padding-top:10px">
                    <label class="control-label">Data Fim: </label>
                </div>
                <div>
                    <input asp-for="DataEntrevistaFim" placeholder="Data inicio da entrevista" class="form-control" />
                    <span asp-validation-for="DataEntrevistaFim" class="text-danger"></span>
                </div>
                <div class=" help-block"></div>
            </div>
            <div class="help-block"></div>
            <button type="submit" class="btn btn-default center-block" style="padding-top:10px">Marcar Entrevista</button>
            </div>
            }
            
        </div>
</form>

<div class="jumbotron col-sm-3 col-sm-offset-1">
    <h5 class="text-center">Opcoes</h5>
    <a asp-area="" asp-controller="Tecnico" asp-action="ListaCandidaturas" class="btn btn-link btn-xs pull-right col-sm-12">Lista Candidaturas</a>
    <a asp-area="" asp-controller="Tecnico" asp-action="MarcarEntrevista" class="btn btn-link btn-xs pull-right col-sm-12">Marcar Entrevistas</a>
</div>